body{
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'Jost', sans-serif;
	background: linear-gradient(to bottom, #353A5F, #9EBAF3);
}
.main{
	width: 350px;
	height: 500px;
	background: rgb(10, 10, 10);
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}
#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
	font-size: 1.5em;
}
label{
	color: #fff;
	font-size: 2em;
	justify-content: center;
	display: flex;
	margin: 33px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
input{
	width: 50%;
	height: 5px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 12px;
	border: none;
	outline: none;
	border-radius: 5px;
}
button{
	width: 90%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #6b85bb;
	font-size: 1em;
	font-weight: bold;
	margin-top: 30px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #465b85;
}
.login{
	height: 500px;
	background: #353A5F;
	border-radius: 60% / 10%;
	transform: translateY(-140px);
	transition: .8s ease-in-out;
}
.login label{
	color: #eeee;
	transform: scale(.5);
}

#chk:checked ~ .login{
	transform: translateY(-300px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(3);
}

.profile-pic {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1em;
	

}

/* style css Sidebar Color */
.sidenav {
	background: linear-gradient(to bottom, #0d0d0e, #353A5F);  
  }
  
  /* For the active link or other sidebar item */
  .nav-link.active {
	background-color: #9EBAF3 !important; 
	color: #fff !important;
  }
  
  /* Change the hover color of links */
  .nav-link:hover {
	background-color: #353A5F !important;
	color: #fff !important;
  }
  

  /* style css edit, delete dan tambah */
.btn-link-small {
    font-size: 12px;        
    padding: 5px 10px;       
    color: white;           
    border: 1px solid white;  
    background-color: transparent; 
}

/* Gaya untuk tombol 'Delete' dengan warna merah */
.btn-link-small-danger {
    font-size: 12px;         
    padding: 5px 10px;       
    color: white;           
    border: 1px solid rgb(247, 245, 245);    
    background-color: transparent; 
}

/* Tombol dengan ikon */
.material-icons {
    vertical-align: middle;
}
.table td {
    text-align: center;  
}
